<h1 class="title">Learn Flags</h1>

<!-- Score display -->
<div class="score-container">
  Score: {{ score }}
</div>

<div class="img-container">
  <img class="img" [src]="currentFlag.flag">
</div>

<div class="guess-container">
  <div class="letter-container">
    <span *ngFor="let letter of guessArray; let i = index" class="letter">
      <input 
        type="text" 
        maxlength="1" 
        [value]="letter"
        (input)="onInputEvent($event, i)"
        (keydown)="onKeyDownEvent($event, i)"
        [disabled]="isLetterCorrect(i)"
        autocomplete="off"
        [attr.data-index]="i"
      >
    </span>
  </div>
</div>

<!-- Dev mode indicator, conditionally displayed -->
<p *ngIf="devModeVisible" class="dev-mode">Dev mode: {{currentFlag.country}}</p>

<!-- Button container -->
<div class="button-container">
  <button class="dev-mode-button" (click)="showDev()">{{ devModeVisible ? 'Hide Dev' : 'Show Dev' }}</button>
  <button class="new-flag-button" (click)="newFlag()">New Flag</button>
</div>
